<section class="belief">
  <div class="container container__belief">
    <div class="belief__inner">
      <div class="belief__item">
        <img
          src="./assets/images/belief-img1.png"
          alt="Man's hands on laptop"
          class="belief__img-left"
        />
      </div>
      <div class="belief__item">
        <img
          src="./assets/images/belief-img2.png"
          alt="The planning meeting"
          class="belief__img-center"
        />
        <h4 class="belief__item-title heading-h5">What we believe in</h4>
        <p class="belief__item-text text-p-medium">
          Over the years at Sans, we’ve put a lot of thought into what it is
          that makes us who we are. The qualities that unite us, that make us
          such an effective team, and...
        </p>
        <a href="/coca/pricing.html#getInTouch" class="belief__item-link">
          <button class="belief__item-link-btn button-form">See Details</button>
        </a>
      </div>
      <div class="belief__item">
        <img
          src="./assets/images/belief-img3.png"
          alt="Women siting on laptop"
          class="belief__img-right"
        />
      </div>
    </div>
    <div class="belief__ideas">
      <h2 class="belief__ideas-title heading-h2">Powerful ideas & sales acceleration</h2>
      <p class="belief__ideas-text text-p-large">
        We are a software development firm specializing in digital products. We
        build beautiful, functional and cross-platform solutions that are
        accessible to all.
      </p>
    </div>
  </div>
</section>
