<section class="articles">
  <div class="container">
    <div class="articles__hero">
      <div class="articles__hero-text">
        <h2 class="articles__hero-text-title heading-h2">Articles</h2>
        <p class="articles__hero-text-subtitle text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles__hero-buttons">
        <button class="articles__hero-button articles__hero-button--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#1d1e25"
            />
          </svg>
        </button>
        <button class="articles__hero-button articles__hero-button--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#1d1e25"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="articles__slider swiper swiper-right-articles">
      <div class="swiper-wrapper">

        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/images/articles-img1.png"
            width="435"
            height="769"
            alt="trendy guy and girl"
          />
          <h4 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h4>
          <p class="articles__slide-subtitle text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <button onclick="window.location.href='/'" class="articles__slide-button">
            Read More
          </button>
        </div>

        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/images/get-started-img.jpg"
            width="406"
            height="329"
            alt="A man and a woman give five"
          />
          <h4 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h4>
          <p class="articles__slide-subtitle text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <button onclick="window.location.href='/'" class="articles__slide-button">
            Read More
          </button>
        </div>

        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/images/articles-img3.png"
            width="476"
            height="695"
            alt="A guy and a girl are looking at a computer"
          />
          <h4 class="articles__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h4>
          <p class="articles__slide-subtitle">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <button onclick="window.location.href='/'" class="articles__slide-button">
            Read More
          </button>
        </div>

        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/images/articles-img1.png"
            width="435"
            height="669"
            alt="trendy guy and girl"
          />
          <h4 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h4>
          <p class="articles__slide-subtitle text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <button onclick="window.location.href='/'" class="articles__slide-button">
            Read More
          </button>
        </div>

        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/images/get-started-img.jpg"
            width="406"
            height="329"
            alt="A man and a woman give five"
          />
          <h4 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h4>
          <p class="articles__slide-subtitle text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <button onclick="window.location.href='/'" class="articles__slide-button">
            Read More
          </button>
        </div>

        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/images/articles-img3.png"
            width="476"
            height="695"
            alt="A guy and a girl are looking at a computer"
          />
          <h4 class="articles__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h4>
          <p class="articles__slide-subtitle">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <button onclick="window.location.href='/'" class="articles__slide-button">
            Read More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
