<section class="hero">
  <div class="container">
    <h1 class="hero__title heading-h1">Activity & Updates</h1>
    <div class="hero__subtitle-box">
      <h4 class="hero__subtitle-box-text heading-h5">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </h4>
    </div>
    <div class="hero__menu">
      <ul class="hero__menu-list">
        <li class="hero__menu-list-item">
          <a href="#" class="hero__menu-list-item-link text-p-medium">View all</a>
        </li>
        <li class="hero__menu-list-item">
          <a href="#" class="hero__menu-list-item-link text-p-medium">Design</a>
        </li>
        <li class="hero__menu-list-item">
          <a href="#" class="hero__menu-list-item-link text-p-medium">Articles</a>
        </li>
        <li class="hero__menu-list-item">
          <a href="#" class="hero__menu-list-item-link text-p-medium">Product</a>
        </li>
        <li class="hero__menu-list-item">
          <a href="#" class="hero__menu-list-item-link text-p-medium">Software Development</a>
        </li>
        <li class="hero__menu-list-item">
          <a href="#" class="hero__menu-list-item-link text-p-medium">Customer Success</a>
        </li>
      </ul>
    </div>
    <div class="swiper post__swiper">
      <div class="post__swiper-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    <div class="swiper-wrapper posts__swiper-wrapper">

      <div class="swiper-slide posts__swiper-slide">
        <img
          loading="lazy"
          class="posts__swiper-slide-img"
          src="./assets/images/post-hero-slide1.png"
          width="515"
          height="428"
          alt="woman in glasses and laptop"
        />
        <div class="posts__swiper-slide-descr">
          <p class="posts__swiper-slide-descr-data text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <p class="posts__swiper-slide-descr-name text-p-small"></p>
        </div>
        <h4 class="posts__swiper-slide-title heading-h5">Practice making User Flow</h4>
        <p class="posts__swiper-slide-subtitle">
          In this article, we'll cover how to create user flows
        </p>
      </div>

      <div class="swiper-slide posts__swiper-slide">
        <img
          loading="lazy"
          class="posts__swiper-slide-img"
          src="./assets/images/belief-img3.png"
          width="515"
          height="428"
          alt="two woman in laptop"
        />
        <div class="posts__swiper-slide-descr">
          <p class="posts__swiper-slide-descr-data text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <p class="posts__swiper-slide-descr-name text-p-small">
            by : Albert Sans
          </p>
        </div>
        <h4 class="posts__swiper-slide-title heading-h5">
          Overview of the Design Principles
        </h4>
        <p class="posts__swiper-slide-subtitle">
          What are Design Principles?… To understand design principles, we first
          discuss the principles.
        </p>
      </div>

      <div class="swiper-slide posts__swiper-slide">
        <img
          loading="lazy"
          class="posts__swiper-slide-img"
          src="./assets/images/get-started-img.jpg"
          width="515"
          height="428"
          alt="women and man kick in hands"
        />
        <div class="posts__swiper-slide-descr">
          <p class="posts__swiper-slide-descr-data text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <p class="posts__swiper-slide-descr-name text-p-small"></p>
        </div>
        <h4 class="posts__swiper-slide-title heading-h5">Using Grid in website design</h4>
        <p class="posts__swiper-slide-subtitle">
          Andi: "What's the grid like?" Toni: “Like below…”
        </p>
      </div>

      <div class="swiper-slide posts__swiper-slide">
        <img
          loading="lazy"
          class="posts__swiper-slide-img"
          src="./assets/images/post-hero-slide1.png"
          width="515"
          height="428"
          alt="woman in glasses and laptop"
        />
        <div class="posts__swiper-slide-descr">
          <p class="posts__swiper-slide-descr-data text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <p class="posts__swiper-slide-descr-name text-p-small"></p>
        </div>
        <h4 class="posts__swiper-slide-title heading-h5">Practice making User Flow</h4>
        <p class="posts__swiper-slide-subtitle">
          In this article, we'll cover how to create user flows
        </p>
      </div>

      <div class="swiper-slide posts__swiper-slide">
        <img
          loading="lazy"
          class="posts__swiper-slide-img"
          src="./assets/images/belief-img3.png"
          width="515"
          height="428"
          alt="two woman in laptop"
        />
        <div class="posts__swiper-slide-descr">
          <p class="posts__swiper-slide-descr-data text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <p class="posts__swiper-slide-descr-name text-p-small">
            by : Albert Sans
          </p>
        </div>
        <h4 class="posts__swiper-slide-title heading-h5">
          Overview of the Design Principles
        </h4>
        <p class="posts__swiper-slide-subtitle">
          What are Design Principles?… To understand design principles, we first
          discuss the principles.
        </p>
      </div>

      <div class="swiper-slide posts__swiper-slide">
        <img
          loading="lazy"
          class="posts__swiper-slide-img"
          src="./assets/images/get-started-img.jpg"
          width="515"
          height="428"
          alt="women and man kick in hands"
        />
        <div class="posts__swiper-slide-descr">
          <p class="posts__swiper-slide-descr-data text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <p class="posts__swiper-slide-descr-name text-p-small"></p>
        </div>
        <h4 class="posts__swiper-slide-title heading-h5">Using Grid in website design</h4>
        <p class="posts__swiper-slide-subtitle">
          Andi: "What's the grid like?" Toni: “Like below…”
        </p>
      </div>

    </div>
  </div>
  </div>
</section>
