<section class="news">
  <div class="container">
    <div class="news__inner">
      <div class="news__inner-left">
        <div class="news__inner-left-item">
          <img
            class="news__inner-left-item-img"
            src="./assets/images/news-img1.png"
            width="584"
            height="751"
            alt="chair and table"
          />
          <h3 class="news__inner-left-item-title heading-h3">
            <a href="/coca/single.html"
              >How we perform long-running tasks using AWS services</a
            >
          </h3>
          <p class="news__inner-left-item-text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
        <div class="news__inner-left-item">
          <img
            class="news__inner-left-item-img"
            src="./assets/images/news-img2.png"
            width="584"
            height="507"
            alt="discussion at work"
          />
          <h3 class="news__inner-left-item-title heading-h3">
            <a href="/coca/single.html">How to ask when doing User Research</a>
          </h3>
          <p class="news__inner-left-item-text text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
      </div>
      <div class="news__inner-right">
        <div class="news__inner-right-item">
          <img
            class="news__inner-right-item-img"
            src="./assets/images/news-img3.png"
            width="584"
            height="751"
            alt="The man at the table"
          />
          <h3 class="news__inner-right-item-title heading-h3">
            <a href="/coca/single.html"
              >Layout Exploration — Simple exercise but big effect</a
            >
          </h3>
          <p class="news__inner-right-item-text text-p-medium">
            Make alternatives or other options for the design we are making.For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
        </div>
        <div class="news__inner-right-item">
          <img
            class="news__inner-right-item-img"
            src="./assets/images/news-img4.png"
            width="584"
            height="507"
            alt="meeting with the Japanese"
          />
          <h3 class="news__inner-right-item-title heading-h3">
            <a href="/coca/single.html">Webflow Break the Coding Barrier</a>
          </h3>
          <p class="news__inner-right-item-text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
